body{
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    grid-template-columns: 1em 1fr 2fr 1em;
    grid-template-rows: 50px 1fr 2fr;
    margin: 0;
}
nav{
    background-color: #25283D;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;  
}
.image-holder{
    width:100%;
    background-color: #8F3985;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.meta-content{
    background-color: #CEA2AC;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}
.content{
    background-color: #A675A1;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 1fr 2fr;
    }
    nav{   
        grid-row-start: 1;
        grid-row-end: 2;  
        grid-column-start: 1;
    }
    .meta-content{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
    }
    .image-holder{
        grid-row-start:3;
        grid-row-end: 4;
        grid-column-start: 1;
    }
    .content{
        grid-row-start: 4;
        grid-column-start: 1;
    }
}

/*mobile*/
@media screen and (max-width: 760px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 50px 2fr;
    }
    nav{
        grid-row-start: 2;
        grid-row-end: 3;  
        grid-column-start: 1;
    }
    .meta-content{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
    }
    .image-holder{
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 1;
    }
    .content{
        grid-row-start: 4;
        grid-column-start: 1;
    }
    
}